<div class="cover-diagnosis">
    <form action="" class="form-group example-form" [formGroup]="newDiagnosisForm">

        <div class="row-info row container-fluid">
            <label class="col-3 col-form-label">Title</label>
            <div class="col-7">
                <input formControlName="title"
                       class="form-control form-control">
            </div>
        </div>

        <div class="row-info row container-fluid">
            <label class="col-3 col-form-label">Title Vietnamese</label>
            <div class="col-7">
                <input formControlName="title_vie"
                       class="form-control form-control">
            </div>
        </div>

        <div class="row-info row container-fluid">
            <label class="col-3 col-form-label">IDC10 CODE</label>
            <div class="col-7">
                <input formControlName="idc10_code"
                       class="form-control form-control">
            </div>
        </div>

        <div class="row-info row container-fluid">
            <label class="col-3 col-form-label">Diagnosis ID</label>
            <div class="col-7">
                <input formControlName="diagnosis_id"
                       class="form-control form-control">
            </div>
        </div>
    </form>

    <button mat-raised-button color="accent"
            *ngIf="newDiagnosisForm.controls['title'].value && newDiagnosisForm.controls['title_vie'].value"
            (click)="addDiagnosis()">Add Diagnosis
    </button>

</div>
