<div class="cover-add-hos">
    <div class="cover-hospital">
        <form action="" class="form-group example-form" [formGroup]="newHospitalForm">

            <div class="row-info row container-fluid">
                <label class="col-3 col-form-label">Title</label>
                <div class="col-7">
                    <input formControlName="name"
                           class="form-control form-control">
                </div>
            </div>

            <div class="row-info row container-fluid">
                <label class="col-3 col-form-label">Group 1</label>
                <div class="col-7">
                    <select class="form-control form-control" formControlName="group_1_id">
                        <option *ngFor="let group of groupHospitalSubscriber | async"
                                [ngValue]="group">{{group.name}}</option>
                    </select>
                </div>
            </div>

            <div class="row-info row container-fluid" *ngIf="newHospitalForm.controls['group_1_id'].value">
                <label class="col-3 col-form-label">Group 2</label>
                <div class="col-7">
                    <select class="form-control form-control" formControlName="group_2_id">
                        <option *ngFor="let group of groupHospitalSubscriber | async"
                                [ngValue]="group">{{group.name}}</option>
                    </select>
                </div>
            </div>

            <div class="row-info row container-fluid" *ngIf="newHospitalForm.controls['group_2_id'].value">
                <label class="col-3 col-form-label">Group 3</label>
                <div class="col-7">
                    <select class="form-control form-control" formControlName="group_3_id">
                        <option *ngFor="let group of groupHospitalSubscriber | async"
                                [ngValue]="group">{{group.name}}</option>
                    </select>
                </div>
            </div>

            <ng-container *ngIf="(visualGroupObservable | async) as data">
                <ul>
                    <li>{{data.default_hospital.name}}</li>
                    <li *ngIf="data?.group_1_id?.name">
                        {{data.group_1_id.name}}
                    </li>
                    <li *ngIf="data?.group_1_id?.name" class="hos-group">
                        <ul>
                            <li *ngIf="data?.group_2_id?.name" class="hos-group">
                                <ul>
                                    <li>{{data.group_2_id.name}}</li>
                                    <li *ngIf="data?.group_3_id?.name" class="hos-group">
                                        <ul>
                                            <li>{{data.group_3_id.name}}</li>
                                            <li>{{data.name}}</li>
                                        </ul>
                                    </li>
                                    <li *ngIf="!data?.group_3_id?.name">{{data.name}}</li>
                                </ul>
                            </li>
                            <li *ngIf="!data?.group_2_id?.name">{{data.name}}</li>
                        </ul>
                    </li>
                    <li *ngIf="!data?.group_1_id?.name">{{data.name}}</li>
                </ul>
            </ng-container>


            <div class="row-info row container-fluid">
                <label class="col-3 col-form-label">Admission?</label>
                <div class="col-7">
                    <mat-radio-group
                            aria-labelledby="example-radio-group-label"
                            class="example-radio-group"
                            formControlName="admission">
                        <mat-radio-button class="example-radio-button" [value]="true">Yes</mat-radio-button>
                        <mat-radio-button class="example-radio-button" [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <div class="row-info row container-fluid">
                <label class="col-3 col-form-label">Transferred?</label>
                <div class="col-7">
                    <mat-radio-group
                            aria-labelledby="example-radio-group-label"
                            class="example-radio-group"
                            formControlName="transferred">
                        <mat-radio-button class="example-radio-button" [value]="true">Yes</mat-radio-button>
                        <mat-radio-button class="example-radio-button" [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <div class="row-info row container-fluid">
                <label class="col-3 col-form-label">Place Booking?</label>
                <div class="col-7">
                    <mat-radio-group
                            aria-labelledby="example-radio-group-label"
                            class="example-radio-group"
                            formControlName="place_booking">
                        <mat-radio-button class="example-radio-button" [value]="true">Yes</mat-radio-button>
                        <mat-radio-button class="example-radio-button" [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <div class="row-info row container-fluid">
                <label class="col-3 col-form-label">Admitted?</label>
                <div class="col-7">
                    <mat-radio-group
                            aria-labelledby="example-radio-group-label"
                            class="example-radio-group"
                            formControlName="admitted">
                        <mat-radio-button class="example-radio-button" [value]="true">Yes</mat-radio-button>
                        <mat-radio-button class="example-radio-button" [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <div class="row-info row container-fluid">
                <label class="col-3 col-form-label">Place Birth?</label>
                <div class="col-7">
                    <mat-radio-group
                            aria-labelledby="example-radio-group-label"
                            class="example-radio-group"
                            formControlName="place_birth">
                        <mat-radio-button class="example-radio-button" [value]="true">Yes</mat-radio-button>
                        <mat-radio-button class="example-radio-button" [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </form>


        <button mat-raised-button color="accent" (click)="addHospital()" *ngIf="newHospitalForm.controls['name'].value">Add Hospital</button>
    </div>

</div>
