table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}


.check-box{
    width: 15px !important;
    border: none !important;
}
#filter-all{
    width: 20%;
}

.tool-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

 .tool-bar-left,.tool-bar-right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tool-bar-left,.tool-bar-right > .mat-form-field{
    margin: 0 12px;
}

#addUserModal{
    flex-direction: row;
    justify-content: center;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
 }
