<div id="content">

    <div class="action-btn">
        <button mat-raised-button color="warn" *ngIf="disPermission" [disabled]="!isChecked()" (click)='deacticeUser()'>
            - DISABLE
        </button>
        <button mat-raised-button color="primary" *ngIf="addPermission" (click)="openModal(addUserModal)"> + NEW USER
        </button>
    </div>


    <div class="tool-bar">
        <div class="tool-bar-left">
            <ng-select
                    class="hospitalsearch hospital-select"
                    matInput
                    [items]="filterHospitalOption"
                    [multiple]="true"
                    [closeOnSelect]="false"
                    [searchable]="true"
                    bindLabel="label"
                    bindValue="value"
                    placeholder="Select hospital"
                    [(ngModel)]="selectedHospital"
                    (ngModelChange)="onFieldChange()">
            </ng-select>
            <!-- <div *ngFor = "let a of filteredPermissionOptions">1</div> -->
            <form class="example-form">
                <mat-form-field class="except-input">
                    <input type="text" placeholder="Role" aria-label="Number" matInput [formControl]="roleFilter"
                           [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                      [displayWith]="displayRoleFn"
                                      (optionSelected)="filterSpecificColumn($event, 'role')">
                        <mat-option *ngFor="let option of filteredPermissionOptions|async " [value]="option">
                            {{option['role']}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
            <mat-form-field id="filter-all" class="except-input">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>
        </div>
        <!--        <div class="tool-bar-right">-->

        <!--            <mat-form-field appearance="legacy">-->
        <!--                <mat-label>Legacy form field</mat-label>-->
        <!--                <input matInput placeholder="Placeholder">-->
        <!--                &lt;!&ndash; <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> &ndash;&gt;-->

        <!--            </mat-form-field>-->

        <!--            <mat-form-field appearance="legacy">-->
        <!--                <mat-label>Legacy form field</mat-label>-->
        <!--                <input matInput placeholder="Placeholder">-->
        <!--                &lt;!&ndash; <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> &ndash;&gt;-->

        <!--            </mat-form-field>-->


        <!--        </div>-->
    </div>

    <div class="mat-elevation-z8" style="margin-top: 3%">
        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="check">

                <th mat-header-cell *matHeaderCellDef class="check-box">
                    <mat-checkbox color="#40C2BA" class="example-margin" [checked]="allComplete"
                                  [indeterminate]="someComplete()"
                                  (change)="setAll($event.checked)" style="width: 5% !important;">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" class="check-box">
                    <mat-checkbox [(ngModel)]="row.completed" (ngModelChange)="updateAllComplete()">

                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
                <mat-cell *matCellDef="let row" (click)="onRowSelect(row)"> {{row.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Email</mat-header-cell>
                <mat-cell *matCellDef="let row" (click)="onRowSelect(row)"> {{row.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Role</mat-header-cell>
                <mat-cell *matCellDef="let row" (click)="onRowSelect(row)"> {{row.role}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="workplace">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Hospital</mat-header-cell>
                <mat-cell style=" text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;" *matCellDef="let row"
                          (click)="onRowSelect(row)"> {{row.workplace | formatHospital}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
                <mat-cell *matCellDef="let row" (click)="onRowSelect(row)"> {{row.status}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef=displayedColumns></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <!--            <tr class="mat-row" *matNoDataRow>-->
            <!--                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>-->
            <!--            </tr>-->
        </mat-table>

        <mat-paginator></mat-paginator>
    </div>


</div>


<ng-template #addUserModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add a new user</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" ngModel #emailRef="ngModel"
               [(ngModel)]="newEmail" type="email" class="form-control" placeholder="Email">
        <div *ngIf="emailRef.errors &&(emailRef.touched || emailRef.dirty)" class="text-danger">
            <p [hidden]="!emailRef.errors?.pattern">
                Incorrect email format
            </p>
        </div>
    </div>
    <div class="modal-body">
        <mat-form-field appearance="outline" style="height: fit-content !important;">
            <mat-label>Hospital</mat-label>
            <mat-select [formControl]="hospitalAssignFormControl" [(ngModel)]="newHospital"
                        required>
                <mat-option *ngFor="let hos of listHospital" [value]="hos.id">{{hos.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="hospitalAssignFormControl.hasError('required')">Please choose hospital to invite
            </mat-error>
        </mat-form-field>
    </div>
    <div class="modal-body">
        <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select [formControl]='roleFormControl' [(ngModel)]="newRole" required>
                <mat-option *ngFor="let role of inviteRole" [value]="role.value">
                    {{role.title}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="roleFormControl.hasError('required')">Please choose role to invite</mat-error>
        </mat-form-field>
    </div>


    <div class="modal-footer">
        <button (click)="modalRef.hide()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button
                [disabled]="emailRef.errors && (emailRef.touched || emailRef.dirty) || roleFormControl.hasError('required') || !newEmail "
                (click)="sendInvitation()" type="button" class="btn btn-primary">Send Invitation
        </button>
    </div>
</ng-template>
