.col-date {
    width: 110px;
}

.action-btn {
    float: right;
}

#day-range {
    width: 280px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #40C2BA;
    box-sizing: border-box;
    border-radius: 5px;

}

.unity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
    min-width: 100%;
}

table {
    width: 100% !important;
}

.mat-cell > span.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

mat-cell{
    padding: 0 20px;
}