<div id="content">
    <div class="unity">
        <div class="action-btn">
            <a routerLink="/baby/details"
               routerLinkActive="active-link">
                <button type="button" class="btn btn-primary btn-sm"> + NEW BABY
                </button>
            </a>
        </div>
    </div>
    <div class="row-info row container-fluid">
        <div class="col-sm-3">
            <ng-select
                    style="width: 100%;
                    margin: 3% 0 ;
                    backdrop-filter: none;
                    background: transparent;
                    transform: translateY(-3px) !important;"
                    class="hospitalsearch"
                    [items]="hospitalOption"
                    [closeOnSelect]="true"
                    [searchable]="true"
                    bindLabel="label"
                    bindValue="label"
                    placeholder="Select hospital"
                    (change)="applyFilterHospital()"
                    [(ngModel)]="selectedHospital">
            </ng-select>
        </div>

        <div class="col-sm-3">
            <form class="example-form" >
                <mat-form-field class="example-full-width hospitalsearch" style="border: none !important;" >
                    <input matInput
                           placeholder="Search"
                            style="  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5))"
                           (keydown)="applyFilter($event)">
                </mat-form-field>
            </form>
        </div>
    </div>

    <mat-table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="babyId">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Unique ID</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let row" (click)="onRowSelect(row)"><span
                    class="ellipsis">{{row.sys_id}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="uniqueId">
            <mat-header-cell mat-header-cell *matHeaderCellDef>Baby ID</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let row" (click)="onRowSelect(row)"><span
                    class="ellipsis">{{row.input_id}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="hospital">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Hospital</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let row" (click)="onRowSelect(row)"><span
                    class="ellipsis">{{row.hospital}} </span></mat-cell>

        </ng-container>


        <ng-container matColumnDef="fullName">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Fullname</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let row" (click)="onRowSelect(row)"><span
                    class="ellipsis"> {{row.name}}</span>
            </mat-cell>

        </ng-container>

        <ng-container matColumnDef="gender">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Gender</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let row" (click)="onRowSelect(row)"><span
                    class="ellipsis">{{row.gender}}</span>
            </mat-cell>

        </ng-container>

        <ng-container matColumnDef="DOB">
            <mat-header-cell mat-header-cell *matHeaderCellDef> Date of birth</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let row" (click)="onRowSelect(row)"><span
                    class="ellipsis">{{row.birthday| date: 'dd/MM/yyyy hh:mm:ss'}}</span>
            </mat-cell>

        </ng-container>
        <mat-header-row mat-header-row *matHeaderRowDef=displayColumns></mat-header-row>
        <mat-row mat-row *matRowDef="let row; columns:displayColumns"></mat-row>
    </mat-table>
    <mat-paginator [length]="1000" [pageSize]="this.pageSize"></mat-paginator>
</div>




