<!--<mat-form-field class="except-input">-->
<!--    <mat-label>Search</mat-label>-->
<!--    <input  style="border-bottom: 1px black !important; width: fit-content" matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>-->
<!--</mat-form-field>-->

<input style="width: 100%" id="time-search" [(ngModel)]="filterRangeTime"  (ngModelChange)="dataRange()" [owlDateTime]="dt1"
       [selectMode]="'range'" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
<owl-date-time #dt1></owl-date-time>

<div class="example-container mat-elevation-z12" style="width: 80vw !important; margin-top: 3%">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div class="example-table-container" >

        <mat-table [dataSource]="dataSource" style="width: 100% !important;" >

            <ng-container matColumnDef="time">
                <mat-header-cell *matHeaderCellDef> Time</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.time|formatDate }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="user_email">
                <mat-header-cell *matHeaderCellDef> User</mat-header-cell>
                <mat-cell *matCellDef="let element" [innerHTML]="element.user_email | domUserEmail "></mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef> Activity</mat-header-cell>
                <mat-cell *matCellDef="let element" style="display: inline-block" [innerHTML]="element.description | activityDomHtml"></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

<!--            <tr class="mat-row" *matNoDataRow>-->
<!--                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>-->
<!--            </tr>-->
        </mat-table>
    </div>

    <mat-paginator [length]="1000" [pageSize]="itemPerPage"></mat-paginator>
</div>
