#baby-content {
  width: calc(100vw - 270px);
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
#baby-content .col-form-label {
  text-align: right;
}
.btn.btn-outline-secondary.calendar.fa.fa-calendar {
  border: 1px solid #ced4da;
}
#baby-content .custom-control.custom-radio.custom-control-inline {
  padding-top: 5px;
}
div#myTabContent {
  padding-top: 15px;
}
.custom-control-check {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  float: left;
  width: 45%;
}

input{
  width: 100%;
}

mat-radio-button {
  margin: 0 15px;
}
