<div id="content">
    <div class="action-btn">
        <button (click)="back()" type="button" class="btn btn-primary btn-sm">Back</button>
    </div>

    <div class="title-bg">
        <span>personal info</span>
    </div>
    <div class="personal-info">
        <div class="row row-info">
            <div class="offset-sm-2 col-sm-4">Name</div>
            <div class="col-sm-4">{{profile.name}}</div>
        </div>
        <div class="row row-info">
            <div class="offset-sm-2 col-sm-4">Email</div>
            <div class="col-sm-4">{{profile.email}}</div>
        </div>
        <div class="row row-info">
            <div class="offset-sm-2 col-sm-4">Phone number</div>
            <div class="col-sm-4">{{profile.phone}}</div>
        </div>
    </div>
    <div class="title-bg">
        <span>hospital & permission</span>
    </div>
    <div class="permission">
        <div class="row row-info">
            <div class="offset-sm-2 col-sm-4"><b>HOSPITAL</b></div>
            <div class="col-sm-4"><b>PERMISSION</b></div>
        </div>
        <div *ngFor="let hospital of profile.hospitals" class="row row-info">
            <div class="offset-sm-2 col-sm-4">{{hospital.name}}</div>
            <div class="col-sm-4">{{hospital.role}}</div>
            <div class="col-sm-2"
                 *ngIf="hospital.editable">
                <button class="btn btn-success" (click)="editPermission(editUserPermission, hospital)">
                    <i class="fa fa-pencil"></i>
                </button>
                <button (click)="removePermission(hospital.id)" type="button" class="btn btn-danger remove-permission">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </div>

        </div>


        <div *ngIf="addable"
             class="row row-info">
            <div class="offset-sm-2 col-sm-4">
                <button [hidden]="!hideFormHospital" (click)="showFormHospital()" type="button"
                        class="btn btn-success btn-sm">Add new hospital
                </button>
            </div>
        </div>
        <div [hidden]="hideFormHospital" class="row row-info">
            <div class="offset-sm-2 col-sm-4">
                <select [(ngModel)]="hospitalSelected" class="form-control">
                    <option *ngFor="let hos of listHospital" value="{{hos.id}}">{{hos.name}}</option>

                </select>

            </div>
            <div class="col-sm-4">
                <select [(ngModel)]="roleSelected" class="form-control">
                    <option value="0">User</option>
                    <option value="1">Admin</option>
                </select>
            </div>
            <div class="col-sm-2">
                <button (click)="savePermission()" type="button" class="btn btn-success save-permission">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </button>
                <button (click)="hideFormHospital = true" type="button" class="btn btn-danger remove-permission">
                    <i class="fa fa-close" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #editUserPermission>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add a new user</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        Hospital
        <div class="offset-sm-2 col-sm-4">
            <mat-form-field appearance="fill">
                <mat-select [(value)]="oldHospital" disabled>
                    <mat-option  [value]="oldHospital">
                        {{editPermissionFormGroup.get('hospital').value.name}}
                    </mat-option>
                </mat-select>

            </mat-form-field>
        </div>
        Role
        <div class="offset-sm-2 col-sm-4">
            <mat-form-field appearance="fill">
                <!-- <mat-label>Role</mat-label> -->
                <mat-select [(value)]='oldRole' required [formControl]="editPermissionFormGroup.get('role')">
                    <mat-option [value]="0">User</mat-option>
                    <mat-option [value]="1">Admin</mat-option>
                </mat-select>
                <mat-error *ngIf="editPermissionFormGroup.get('role').hasError('required')">Please choose role
                </mat-error>
            </mat-form-field>
        </div>


    </div>
    <div class="modal-footer">
        <button (click)="modalRef.hide()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button [disabled]="!editPermissionFormGroup.get('role').valid"
                type="button" class="btn btn-primary" (click)="reSavePermission()">Save
        </button>
    </div>
</ng-template>
